<!-- app/views/castles/_building.html.erb -->
<% @building_type = BuildingType.find_by_id(building.type_id) %>

<div id="<%= building.type_id %>" class="sm:py-2">
  <div class="flex flex-row">
    <div class="sm:min-w-[160px] px-1 box-border">
      <%= image_tag('castle.png', alt: @building_type.name, class: 'sm:w-14 sm:h-14 flex') %>
      <p class="font-bold text-sm">
        <%= @building_type.name %>
        <% unless building.level.zero? %>
          <span>[L.<%= building.level %>]</span>
        <% end %>
      </p>
      <p class="text-xs"><%= @building_type.details %></p>
      <%= render partial: 'action_buttons', locals: { building: building } %>
    </div>
    <div class="sm:min-w-[80px]">
      <%= render partial: 'req_resources', locals: { building: building } %>
      <p><%= seconds_to_time(building.time_requirement.to_i) %></p>
    </div>
  </div>
</div>
