<% if @castle.user.id.equal? current_user.id %>
  <div class="bg-slate-200 border border-slate-300">
    <div class="flex justify-center py-1">
      <h1 class="font-bold text-sm"><%= @castle.name %></h1>
    </div>
    <div class="grid grid-cols-4 place-content-around">
      <div title="Wood" class="sm:mx-auto flex flex-row items-center">
        <%= image_tag('wood.png', alt: 'wood', class: 'w-4 h-4 mr-1') %>
        <p><%= @castle.wood %></p>
      </div>
      <div title="Stone" class="sm:mx-auto flex flex-row items-center">
        <%= image_tag('stone.png', alt: 'stone', class: 'w-4 h-4 mr-1') %>
        <p><%= @castle.stone %></p>
      </div>
      <div title="Iron" class="sm:mx-auto flex flex-row items-center">
        <%= image_tag('iron.png', alt: 'iron', class: 'w-4 h-4 mr-1') %>
        <p><%= @castle.iron %></p>
      </div>
      <div title="Food" class="sm:mx-auto flex flex-row items-center">
        <%= image_tag('wheat.png', alt: 'wheat', class: 'w-4 h-4 mr-1') %>
        <p><%= @castle.food %></p>
      </div>
    </div>
  </div>
<% end %>