<!-- app/views/castles/_req_resources.html.erb -->

<div class="req-resources">
  <table>
    <tr>
      <td class="name"><%= image_tag('wheat.png', alt: 'wheat', class: 'w-4 h-4 mr-1') %></td>
      <td class="value"><p><%= building.food_requirement %></p></td>
    </tr>
    <tr>
      <td class="name"><%= image_tag('wood.png', alt: 'wood', class: 'w-4 h-4 mr-1') %></td>
      <td class="value"><p><%= building.wood_requirement %></p></td>
    </tr>
    <tr>
      <td class="name"><%= image_tag('stone.png', alt: 'stone', class: 'w-4 h-4 mr-1') %></td>
      <td class="value"><p><%= building.stone_requirement %></p></td>
    </tr>
    <tr>
      <td class="name"><%= image_tag('iron.png', alt: 'iron', class: 'w-4 h-4 mr-1') %></td>
      <td class="value"><p><%= building.iron_requirement %></p></td>
    </tr>
  </table>
</div>
