<!DOCTYPE html>
<html>
  <head>
    <title>Fcs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="sm:container md:mx-auto md:px-4">
      <%= render partial: 'layouts/flash' %>
      <%= render partial: 'layouts/header' %>
      <%= yield %>
      <%= render partial: 'layouts/footer' %>
    </div>
  </body>
</html>
